#**
 *  Render a hit representing a Product
 *  assumed to have a field called "name"
 *#

<div class="result-title"><b>#field('name')</b><span class="mlt"></div>
##do we have a physical store for this product
#set($store = $doc.getFieldValue('store'))
#if($store)<div class="map"><img src="http://maps.google.com/maps/api/staticmap?&zoom=12&size=150x80&maptype=roadmap&markers=$doc.getFieldValue('store')&sensor=false" /><div><small><a target="_map" href="http://maps.google.com/?q=$store&amp;source=embed">Larger Map</a></small></div></div>#end
<div><b>Title:</b> #field('Title')</div>
<div><b>ContributorName:</b> #field('ContributorName')</div>
#parse('debug.vm')
